<% form_for @news do |form| %>
  <p>
    <%= form.label :title, "Titre de la news" %><br />
    <%= form.text_field :title %>
  </p>
  <p><%= form.text_area :content %></p>
  <p><%= form.submit "Valider" %></p>
<% end %>